*_crash.txt
*.zevtc
evtc.py
testlogs/
__pycache__/
build/
dist/
.git/
config.ini
*.spec
test.py
*.exe
*:.txt
*.json
*.csv
linklist.txt
testlogs/
.seen.csv
EI/
version.txt
LogFC/
gui_version/LogFC
venv_uploader/
venv_updates/
gui_version/output.txt
gui_version/GW2-Flamebot-Extended/*
Releases/
gui_version/dist
gui_version/build
*.spec
*.log
venvtest/
LogFC-main/
output.txt
gui_version/GW2-Flamebot-Extended
hooks.db
gui_version/hooks.db
*.db
gui_version/*.db